header {
    display: flex;
    justify-content: space-around;
    background-color: #303030;
    height: 70px;
    color: #FBF6E9;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 5px;
}
  



header nav ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   margin-left:20px;

}

header nav ul li {
    margin: 0 15px;

}

header nav ul li a {
    padding: 15px;
    color: #FBF6E9;
    font-size: larger;
    text-decoration: none;
    transition: color 0.3s ease;

}

header nav ul li a:hover {
    color: #ff006a;
}

 