.sidebar{
  background: #303030;
}
.span-between-icon{
  height: 3px;
  background-color: #e0e0e0;
}
.sidebar-head-icon{
  color: #f1f1f1;
}
.sidebar-icon{
  color: #423c3c;
  background-color: #f0efef;
  transition: 0.3s;
  
}
.sidebar-icon:hover{
  background-color: #dddddd
}
.sidebar-icon.active{
  color: #e9e9e9;
  background-color: #888888;
}
.main-img{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-sidebar{
  width: 20px;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width:768px){
  .img-sidebar{
    width: 45px;
    height: 45px;
  }
}
.OrdersTable ul {
  height: 65vh;
  overflow-y: scroll;
}