.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-white {
  background-color: white;
}

.p-8 {
  padding: 2rem;
}

.rounded-lg {
  border-radius: 8px;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.w-full {
  width: 100%;
}

.max-w-md {
  max-width: 400px;
}




.text-center1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;

}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-gray-600 {
  color: #4b4b4b;
}

.text-red-500 {
  color: #ef4444;
}

.text-sm {
  font-size: 0.875rem;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input:focus,
select:focus {
  border-color: #4c51bf;
  outline: none;
}

label {
  font-size: 1rem;
  color: #4b4b4b;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #38a169;
}

.button:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-4 {
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .w-full {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .p-8 {
    padding: 1.5rem;
  }
}
