.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #303030;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 100;
  }
  
  .navbar .logo h1 {
    font-size: 24px;
    color: #fff; 
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
  
  .centered-components {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 40px;
  }
  
  .centered-components li {
    font-size: 18px;
    font-weight: bold;
  }
  
  .centered-components a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .centered-components a:hover {
    color: #df52d4;
  }
  
  .right-components {
    list-style: none;
    padding: 0;
  }
  
  .right-components li {
    margin-right: 15px;
  }
  
  li button {
    background-color:#df52d4;  
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: 1s;
  }
  
  li button:hover {
    /* background-color: #d79e8e;  */
    transform: scale(1.1);
  }
  
  /* .centered-components:hover li {
    filter: blur(5px);
  }
  
  .centered-components li:hover {
    filter: blur(0px);
  } */