.footer1 {
  background-color: #303030;
  color: white;
  padding: 10px;
  display: flex;
  
}

/* .container2 {
  max-width: 100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* text-align: center; */
 

.hover\:text-yellow-400:hover {
  color: #f39c12;
}

.text-yellow-400 {
  color: #f39c12;
}

.border-t {
  border-top: 1px solid #fff;
}

.text-center {
  text-align: center;
}

.md\:text-left {
  text-align: left;
}



