body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
 
}

.body {
    height: 75vh;
    font-family: Arial, sans-serif;
    color: #fff ;
    padding: 20px;
    background-image: url('../img/789115b1dbe6a11262d4298e4d49d71d_1.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;

}

header nav ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   margin-left:20px;

}

header nav ul li {
    margin: 0 15px;

}

header nav ul li a {
    color: #FBF6E9;
    font-size: larger;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ff006a;

}

header nav ul li a.active {
    text-decoration: underline;
}

.about-us {

    padding: 30px;
    border-radius: 40px;
    width: 700px;
    height: 300px;
    margin-top: 60px;
    margin-left:350px;

}

.about-us h2 {
    margin-top: 150px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.about-us p {
    margin-top:100px;
     color: #fff;
    margin-bottom: 15px;
    border-radius: 22px;
    margin-left:100px;
    font-family: serif;
}
.buttons {
    display: flex;
    justify-content: center;}
    /* margin-top: 50px; */
 button {
     width: 200px;
     padding: 10px;
     color: #fff;
     background-color: #ff006a;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 50px;
    
     /* margin-left: 340px; */
transition: 1s;

       }

          button:hover {
          transform: scale(1.2);
          
          }